sudo: required
dist: trusty
group: deprecated-2017Q4
addons:
  apt:
    packages:
    - docker-ce
services:
- docker
language:
- generic
cache: false
env:
  global:
  - MAKEFLAGS="-j 2"
  - GIT_BRANCH=`git branch | grep -v \*` ; GIT_BRANCH=`echo $GIT_BRANCH`
  matrix:
  - ROS_DISTRO=indigo  OS_CODE=trusty OS_VER=14.04 CUDA_VER=8.0
  - ROS_DISTRO=kinetic OS_CODE=xenial OS_VER=16.04 CUDA_VER=8.0
  - ROS_DISTRO=kinetic OS_CODE=xenial OS_VER=16.04 CUDA_VER=9.0
before_install:
- travis_wait 30 docker pull ubuntu:$OS_CODE 1>/dev/null
- travis_wait 30 docker pull "nvidia/cuda:$CUDA_VER-devel-ubuntu$OS_VER" 1>/dev/null
install:
- travis_wait 30 docker build -t init -f .travis_cfg/01_init/Dockerfile.init.$OS_CODE
  --no-cache --build-arg FROM_FILE="nvidia/cuda:$CUDA_VER-devel-ubuntu$OS_VER" .
- travis_wait 30 docker build -t common -f .travis_cfg/02_common/Dockerfile.common
  --no-cache --build-arg FROM_FILE="init" --build-arg ROS_DISTRO="$ROS_DISTRO"
  --build-arg CUDA_VER="$CUDA_VER" .
- travis_wait 30 docker build -t rosdeps -f .travis_cfg/03_rosdeps/Dockerfile.rosdeps.$ROS_DISTRO
  --no-cache --build-arg FROM_FILE="common" .
- travis_wait 30 docker build -t otherdeps -f .travis_cfg/04_otherdeps/Dockerfile.otherdeps.$OS_CODE
  --no-cache --build-arg FROM_FILE="rosdeps" .
- travis_wait 120 docker build -t autoware -f .travis_cfg/05_autoware/Dockerfile.autoware
  --no-cache --build-arg FROM_FILE="otherdeps" --build-arg GIT_BRANCH="$GIT_BRANCH"
  --build-arg ROS_DISTRO="$ROS_DISTRO" .
notifications:
  email: false
  slack:
    secure: UngLG0l9DdCl3rvkpUS0zY/k47KCUhdNVLpGCv+WY1mstkzwSelebPXHJ4zQT2sVUAjSmbKy7ZRirv4ElvS8yVLtQPF9DZcO9e97pC/kw04Xm5YmYvhwa3hiOrfeulkrdBXXdXzqDZi/ASqeDDHxPDrzaeSqsGIhpKHWcqpp1g/pPqkk710Cyykq47Ldo3EsC9YsTaXZKE+Yv9ax1t9Vlv1w7Hcp7EU5TwfKB8megVQfGyayqwSN47DY9VZ/Z5lvx2PmQET46eHEdUbrx3BvK+4E4X9Dnj0fxuXcAgfB9InS7bCq8K8unxbHY0Ap68VJeipC8gcwuuHpRYjlZUIiMp5BpX7LmzWlVeM+8Y4Al0Gw+bxXXvENPdpI4RPZ9jQg9R6EXZI8MAPZL84tPeAIR/405Mo1QHWRgm3SzkajuhtEK7Ik7sqwUfCQeER7Bw/IdKnRDdDpCS8vN3Ru1JHE2bCbM3NW2P4PP7KSKxeNH8zNB/kxXieUMiEyRAnlO7PcxgzpX1zAnbkLgxQ8q9b17Es7Hxz4cAic9wTWTaasau9w7l/VELZQEQK5t3sFQB7zVXtXyWaNpDE34MdFpb/cOjBMl47p5kSFWm9vcaKcocZ1vruTASKALblb+jDVXcXQ2jpR0eHggCXyQeYeb3mS0POnZ/sKgtlDg3urk+i+jUM=
